!!!
%html
  %head
    %title BrowserDrop
    %meta(charset='UTF-8')
    %script(src='js/jquery-1.11.0.min.js')
    %script(src='js/jquery-migrate-1.2.1.min.js')
    %script(src='js/script.js' type='text/javascript')
  %body
    #dropable
      ここにファイルをドロップしてみてください
