!!!
%html
  %head
    %title BrowserDrop
    %meta(charset='UTF-8')
    %link(rel="stylesheet" href="css/style.css")
    %script(src='js/jquery-1.11.0.min.js')
    %script(src='js/jquery-migrate-1.2.1.min.js')
    %script(src='http://cdn.peerjs.com/0/peer.min.js')
    %script(src='js/receive.js')
    %script(src='js/script.js' type='text/javascript')
  %body
    %p 正座待機よろしく
    #message
