!!!
%html
  %head
    %title BrowserDrop
    %link(rel="stylesheet" href="css/style.css")
    %meta(charset='UTF-8')
    %script(src='js/jquery-1.11.0.min.js')
    %script(src='js/jquery-migrate-1.2.1.min.js')
    %script(src='http://cdn.peerjs.com/0/peer.min.js')
    %script(src='js/send.js')
  %body
    #dropable
      ここにドロップ٩(ˊᗜˋ*)و
